/* Reset de estilos para todos los elementos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
}

/* Estilos generales del cuerpo del sitio */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(202, 202, 219);
    color: white;
}

/* Estilos del encabezado con logo y barra de navegación */
.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    margin-left: 60px;
}

.container-bar {
    height: 70px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-bar h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    flex: none;
}

/* Estilos de la barra de navegación */
nav {
    width: 100%;
    background-color: #3b387a;
    top: 0;
    z-index: 10;
    position: relative;
}

nav .container-bar {
    margin: 0;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.search-bar {
    background-color: rgb(234, 234, 234);
    border-radius: 32px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
}

.search-bar input[type="search"] {
    background: transparent;
    width: 30vw;
    margin-left: 20px;
    font-size: 14px;
    color: gray;
    border: none;
    outline: none;
}

nav .button {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 15px 6px;
    font-weight: bold;
    border-radius: 32px;
    cursor: pointer;
    color: white;
    background-color: #5956BA;
    transition: all 300ms ease;
}

.btn:hover {
    opacity: 0.8;
}

/* Estilos del slider de imágenes */
.slider {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: rgba(255, 255, 255, 0.43);
    position: relative;
    overflow: hidden;
    width: 1200px;
    max-width: 1300px;
    height: 245px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    align-items: center;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.slide img {
    border-radius: 6px;
    width: auto;
    height: auto;
    object-fit: cover;
}

.arrow {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: #5956BA;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
}

.arrow-left {
    left: 10px;
    border-radius: 15px;
}

.arrow-right {
    right: 10px;
    border-radius: 15px;
}

/* Estilos del aside con lista de categorías y zonas */
aside {
    font-size: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 19px;
    margin-left: 5px;
    color: rgb(1, 1, 10);
    background-color: rgba(255, 255, 255, 0.43);
    border-radius: 5px;
    float: left;
    width: 190px;
    padding: 10px;
    box-sizing: border-box;
}

aside h2{
    margin-bottom: 5px
}



#filtroCategorias li {
    cursor: pointer;
    margin-bottom: 10px;
}

#filtroZonas li {
    cursor: pointer;
    margin-bottom: 10px;

  }


#bton-categoria {
    border-radius: 4px;
    display: block;
    margin-top: 10px;
    padding: 10px;
}


#filtroCategorias h2 {
    margin-top: 20px;
    font-size: 1.2em;
}

#bton-categoria {
    background-color: #5956BA;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }

  #bton-categoria:hover {
    background-color: #4b48a6;
  }

/* Estilos de la sección de productos */
.boxes {
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 100px;
    position: relative;
}

.producto {
    height: 470px; /* Cambia la altura a automático para adaptarse al contenido */
    width: 270px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.43);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    margin-right: 11px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.boxes img {
    height: 260px;
    width: 250px;
    border-radius: 5px;
    margin-top: 0px;
    overflow: hidden;
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
}

.producto h2{
    font-size:20px;
}


.description {
    padding: 10px;
    max-height: 100px
}

.description p {
    font-size: 14px;
    color: #000000;
    margin: 0px 0;
}


/* Estilos del pie de página */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    background-color: #3b387a;
    padding: 35px 0;
    width: 100%;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #5956BA;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.footer-links ul li a:hover {
    color: white;
    padding-left: 6px;
}

.social-links a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;
}

.social-links a:hover {
    background-color: #5956BA;
}
