@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:wght@300;400;500;600;700&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(202, 202, 219);
  color: white;
}

.logo-title {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  /* Cambia el tamaño del logo según tus preferencias */
  margin-left: 60px;
  /* Ajusta el margen derecho para separar el logo del título */
}



.container-bar {
  height: 70px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-bar h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  flex: none;
}



.icono-busqueda {
  color: gray;
}

nav {
  width: 100%;
  background-color: #3b387a;
  top: 0;
  z-index: 10;
  position: relative;
}

nav .container-bar {
  margin: 0;
  max-width: 1200px;
  /* Ajusta el ancho máximo según tu diseño */
  width: 100%;
  padding: 0 20px;
  /* Añade relleno a los lados del contenedor */
  box-sizing: border-box;
}

.search-bar {
  background-color: rgb(234, 234, 234);
  border-radius: 32px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

.search-bar input[type="search"] {
  background: transparent;
  width: 30vw;
  margin-left: 20px;
  font-size: 14px;
  color: gray;
  border: none;
  outline: none;
}

nav .button {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 15px 6px;
  font-weight: bold;
  border-radius: 32px;
  cursor: pointer;
  color: white;
  background-color: #5956BA;
  transition: all 300ms ease;
}

.btn:hover {
  opacity: 0.8;
}


a {
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
}

.gradient-text {
  background: linear-gradient(to right, rgb(76, 114, 20));
  -webkit-backdrop-clip: text;
  background-clip: text;
  color: #fff;
  margin-top: 1rem;
}

main{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-main {
  height: auto;
  min-height: 80vh;
  padding: 60px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-content {
  width: 45%;
  max-width: 600px;
  z-index: 1;
  background: #3b387a;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem 3rem;
  border-radius: 20px;
}

.form-content .logoCtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 10rem;
}

.form-content .logoCtn img {
  position: absolute;
  opacity: 0.4;
}

.form-content h3 {
  font-size: 3rem;
  text-align: center;
  line-height: 1.2;
  color: white;
  font-weight: 500;
  z-index: 1;
}

.form-content form {
  margin: 25px 0 20px;
  width: 100%;
}

.form-content .input-box {
  margin: 25px;
  width: 100%;
}

.form-content::placeholder {
  color: inherit;
  opacity: 1;
}

.form-content .input-control {
  display: block;
  height: 45px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  color: inherit;
  font-weight: inherit;
  font-size: 16px;
}

.form-content .input-control:focus {
  outline: none;
}

.form-content .input-link {
  margin-top: 10px;
  text-align: right;
}

.form-content .btn {
  height: 45px;
  width: 100%;
  margin-top: 0.5rem;
  font-size: 16px;
  text-transform: capitalize;
  font-family: inherit;
  cursor: pointer;
  border-radius: 25px;
  background-color: #4444aa;
  border: none;
  color: white;
}

.form-content .btn:hover {
  background-color: #4444c8;
  opacity: 0.8;
}

.form-content p {
  text-align: center;
}

.footer {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #3b387a;
  padding: 2rem 3rem;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-links {
  width: 25%;
  padding: 0 15px;
}

.footer-links h4 {
  font-size: 20px;
  color: white;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #5956ba;
  padding-bottom: 10px;
  display: inline-block;
}

.footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #bbbbbb;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.footer-links ul li a:hover {
  color: white;
  padding-left: 6px;
}

.social-links a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}

.social-links a:hover {
  background-color: #5956ba;
}